.footer {
    background: var(--secondary-colour);
    padding: 20px;
}

.container {
    max-width: var(--max-width-desktop);
    margin: 0 auto;
    text-align: center;
}

.socialList {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 40px);
    grid-gap: 20px;
}

.socialListItemLink i {
    font-size: 2.75rem;
    transition: transform var(--transition-timing) var(--transition-easing);
}

.socialListItemLink:link,
.socialListItemLink:visited,
.socialListItemLink:active {
    color: var(--primary-colour);
}
.socialListItemLink:hover i, .socialListItemLink:focus i {
    transform: scale(1.1) rotate(-15deg);
}

.socialListItem:nth-child(2n) .socialListItemLink:hover i,
.socialListItem:nth-child(2n) .socialListItemLink:focus i {
    transform: scale(1.05) rotate(15deg);
}

.socialListItem .socialListItemLink::after,
.socialListItem .socialListItemLink:visited::after,
.socialListItem .socialListItemLink:active::after {
    display: none;
}

@media (min-width: 1024px) {
    .container {
        max-width: var(--max-width-desktop);
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
}
