@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700;800&display=swap');
:root {
  --primary-colour: #272343;
  --secondary-colour: #DEFFF9;
  --tertiary-colour: #FFD803;
  --off-white: #FFFFFE;

  --font-family-heading: 'Playfair Display', serif;
  --font-family-body: 'Work Sans', sans-serif;

  --font-size-h1: 1.5rem;
  --font-size-h2: 1.125rem;
  --font-size-body-small: 1rem;
  --font-size-body-lg: 1.125rem;
  --font-size-body-xlg: var(--font-size-body-small);

  --max-width-desktop: 1440px;
  --container-padding: 20px;

  --transition-timing: 0.2s;
  --transition-easing: ease-in-out;
  --transition: var(--transition-timing) var(--transition-easing);

  --default-box-shadow: 0 2px 4px rgba(39, 35, 67, 0.1);
  --default-box-shadow-hover: 0 12px 6px rgba(39, 35, 67, 0.1);
}

@media screen and (min-width: 768px) {
  :root {
    --font-size-h1: 2rem;
    --font-size-h2: 1.5rem;
    --font-size-body-xlg: 1.5rem;
  }
}

@media screen and (min-width: 1024px) {
  :root {
    --font-size-h1: 4.5rem;
    --font-size-h2: 2.25rem;
  }
}

* {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

html,
body {
  min-height: 100vh;
}

body {
  color: var(--primary-colour);
  background: var(--off-white);
  font-family: var(--font-family-body);
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-heading);
}

body.noScroll {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  overflow: visible;
}

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  border-radius: 0;
  cursor: pointer;
  font-family: var(--font-family-body);
}

.layout a:not(.custom-link), .layout a:not(.custom-link):link, .layout .link {
  text-decoration: none;
  display: inline-block;
  position: relative;
  z-index: 1;
  font-weight: 700;
  color: var(--primary-colour);
}

.layout a:not(.custom-link):hover::after, .layout a:not(.custom-link):focus::after, .layout a:not(.custom-link):focus-visible::after, .layout a:not(.custom-link):active::after,
.layout .link:hover::after, .layout .link:focus::after, .layout .link:focus-visible::after, .layout .link:active::after {
  height: 1em;
}

.layout a:not(.custom-link)::after,
.layout .link::after {
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
  bottom: 2px;
  left: 0;
  width: 100%;
  height: 0.3em;
  padding: 0 0.1em;
  background: var(--tertiary-colour);
  transform-origin: bottom;
  transition: height var(--transition-timing) var(--transition-easing);
}

h1 {
  font-size: var(--font-size-h1);
}

h2 {
  font-size: var(--font-size-h2);
}

img {
  max-width: 100%;
  border-radius: 35px;
}

body .m-modal p, body .m-modal span, body .m-modal strong, body .m-modal a {
  font-family: var(--font-family-body);
}
